@charset "UTF-8";
/* 2023,3 Arai Akiho */


/* resset */
* {
    box-sizing: border-box;
}

/* typo
----------------------------------- */
html {
    width: 100%;
    font-size: 100%;
    background-color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    font-feature-settings: "palt";
}

a {
    color: #fff;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

/* utility
----------------------------------- */
.d-flex {
    display: flex;
}

.sp-non {
    display: none;
}

.eng-sans {
    font-family: 'Noto Sans', sans-serif;
}

/* layout 
------------------------------------------- */
.container {
    margin: 0 auto;
    width: 98%;
}

/* header
-------------------------------------------- */
header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    transition: background 1s;
    position: fixed;
    top: 0;
    z-index: 9999999;
}

.header-sec {
    justify-content: center;
}

.header-logo img {
    padding-top: 4px;
}

/* mv
-------------------------------------------- */
.mv {
    background-image: url(../images/mv_top_sp@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
}

.ttl {
    text-align: center;
}

.top-point-sp {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: end;
    padding-top: 9rem;
}

.top-point-sp p {
    background-color: #fad06c;
    padding: 4px;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 8px;
}


.top-ttl {
    font-size: 18px;
    letter-spacing: 0.1em;
    font-weight: 500;
    padding-top: 10rem;
}


/* introduction
----------------------------------------------- */
.intro {
    margin-top: 3rem;
}

.intro-txt {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.intro-person {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}

.think-sp {
    align-items: center;
}

.think-nayami {
    width: 16rem;
    height: 76px;
    background-color: #dcdcdc;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 20px;
    position: relative;
}

.think-nayami p {
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
}

/* feature
-------------------------------------------- */
.feature {
    margin-top: 70px;
    background: rgba(187, 226, 241, .7);
}

.triangle {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 70px 180px 0 180px;
    border-color: #ffffff transparent transparent transparent;
}

.feature-head {
    text-align: center;
    margin-top: 40px;
}

.feat-head-txt {
    font-weight: 500;
    letter-spacing: 0.1em;
}

.feat-head-center {
    justify-content: center;
}

.onayami,
.nara {
    font-size: 20px;
}

.nara {
    padding-top: 42px;
}

.kaiketsu {
    font-size: 22px;
    margin-top: -6px;
}

.feature-contents {
    margin-top: 40px;
    flex-wrap: wrap;
}

.feat {
    background-color: #fff;
    margin: 10px 20px;
}

.feat-item {
    text-align: center;
}

.feat-icon {
    margin: 30px 0 20px 0;
}

.feat-ttl {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 6px;
}

.feat-txt {
    padding: 0 30px 40px 30px;
    letter-spacing: .1em;
    text-align: start;
}

/* SP用コンタクトレイアウト */
.feat-contact-sp {
    margin-top: 30px;
    padding-bottom: 50px;
}

.feat-contact-head-sp {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .1em;
    text-align: center;
    margin-bottom: 10px;
}

/* ボタン */
.sp-contact-btn a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    padding: 12px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    letter-spacing: .1em;
    background: #004986;
    filter: drop-shadow(0px 2px 4px #ccc);
    border-radius: 3px;
    border-radius: 50px;
}
.sp-contact-btn a:after {
    content: '';
    width: 8px;
    height: 8px;
    border-top: 2px solid #FFF;
    border-right: 2px solid #FFF;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 46%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

/* plan
---------------------------------------- */
.plan-head {
    justify-content: center;
    margin-top: 40px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.dakeno {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 16px;
    padding-right: 10px;
}

.original-plan {
    font-weight: 600;
    font-size: 28px;
    margin-top: -8px;
    margin-bottom: 30px;
}

.plan-items {
    flex-wrap: wrap;
    justify-content: center;
}

.regular-plan {
    width: 96%;
    margin-bottom: 16px;
}

.spot-plan {
    width: 96%;
}

.plan-box {
    background: #ffffff;
    border: #87cefa 2px solid;
    border-radius: 10px;
}

.plan-box .plan-title {
    font-size: 1.2em;
    background: #87cefa;
    border-radius: 7px 7px 0 0;
    padding: 8px;
    text-align: center;
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.plan-time-part {
    padding: 10px 0;
    justify-content: center;
}

.fa-clock {
    color: #87cefa;
    font-size: 40px;
    padding-right: 8px;
}

.plan-time {
    font-size: 30px;
    margin-top: -3px;
    letter-spacing: .1em;
    font-weight: 500;
}

.plan-point {
    padding: 0 0 30px 10px;
}

.fa-circle-check {
    color: #87cefa;
    font-size: 24px;
    padding-right: 10px;
}

.etc-part {
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.fa-bath,
.fa-wrench {
    color: #0066cc;
    font-size: 24px;
    padding-right: 12px;
}

.bath,
.repair {
    background-color: #f5f5f5;
    width: 84%;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    margin-bottom: 8px;
    justify-content: center;
}

.etc-txt {
    text-align: center;
    letter-spacing: .1em;
    margin-bottom: 50px;
}

/* footer
----------------------------------- */
footer {
    background-color: #003567;
    color: #fff;
}

.footer-contact-sp {
    text-align: center;
    padding-top: 50px;
}

.footer-contact-head {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .1em;
}

.border-contact-sp {
    border-bottom: #707070 1px solid;
    padding-top: 16px;
    margin: 0 20px;
}

.footer-call {
    margin-top: 16px;
    margin-bottom: 26px;
}

.footer-call-head,
.footer-call-time {
    letter-spacing: .1em;
    font-size: 14px;
}

.footer-call-number {
    font-size: 28px;
    letter-spacing: .15em;
    font-weight: 700;
    color: #FFF;
}

.footer-mail-head,
.footer-mail-time {
    letter-spacing: .1em;
    font-size: 14px;
}

.footer-mail-address {
    font-size: 22px;
    letter-spacing: .05em;
    font-weight: 700;
}

.border-sp-u {
    border-bottom: #707070 1px solid;
    padding-top: 16px;
    margin: 0 20px;
}

.footer-logo {
    margin-top: 32px;
}

.footer-contact-sp-u {
    font-size: 14px;
    margin-left: 18px;
    letter-spacing: .1em;
    margin-top: -8px;
    color: #fff;
}

/***追従するトップへ戻るボタン***/
#page-top {
    position: fixed;
    right: 10px;
    bottom: 20px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    transform: rotate(90deg);
    font-size: 100%;
    line-height: 1.5rem;
    color: #ffffff;
    padding: 0 0 0 35px;
    border-top: solid 1px;
}
#page-top::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 15px;
    border-top: solid 1px;
    transform: rotate(35deg);
    transform-origin: left top;
}
/***トップへ戻るボタンここまで***/

.mark-c {
    margin-top: 60px;
    padding-bottom: 10px;
    font-size: 12px;
    letter-spacing: .1em;
    text-align: center;
}

/*----------------------------
scroll_up ｜下から上へ出現
----------------------------*/
.scroll_up {
    transition: 0.8s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
  }
  .scroll_up.on {
    transform: translateY(0);
    opacity: 1.0;
  }